.login {
  padding-top: 14%;
}

.loginBox {
  border-radius: 2%;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.3);
  width: 20%;
  background-color: #ffffff;
  margin: auto;
  padding: 1% 2% 1% 2%;
}

.loginHeader {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: #282e38;
  padding: 1%;
}

.loginHeader a {
  color: #31b573;
}

.loginHeaderUnderline {
  border-top: 1px solid #3a3f48;
  width: 100%;
  margin: 0.2em auto;
}

.loginError {
  margin-top: 7%;
  margin-bottom: 0;
  color: rgb(226, 0, 0);
}