#projectShuttleOutput {
    margin: 0 auto;
    padding-top: 4.5%;
    width: 72%;
}

#project h2 {
    height: 40px;
    font-size: 30px;
    line-height: 120%;
    font-weight: 900;
    color: #31b573;
    text-align: left;
}

#projectMap {
    height: 700px;
    width: 100%;
}

.mapLoadingContainer {
    align-items: center;
    background-color: #ffffff;
    height: 700px;
}

.mapLoading {
    margin: auto;
    color: #31b573;
}


.mapLegend {
    padding-top: 5%;
    padding-bottom: 5%;
}

.legendMarker {
    width: 25px;
    height: 40px;
    margin-right: 1%;
}

.pointLegend {
    display: flex;
    align-items: center;
    padding-bottom: 1%;

}

.cube {
    width: 40px;
    height: 40px;
    margin-right: 2%;
}

.vehicleLegend {
    padding-bottom: 2%;
    white-space: initial;
    display: flex;
    align-items: center;
    width: 100%;
}

.a {
    color: #31b573 #002a51 #ff0000 #F28C28 #A020F0 #FFB6C1 #ff00bf #cbbf67 #40ff00 #b1aeff
}