#createNewProject {
  margin: 0 auto;
  padding-top: 4.8%;
  width: 72%;
}

#createNewProject h1 {
  font-size: 2em;
  line-height: 1.5em;
  color: #31b573;
  text-align: left;
  margin: 0;
}

.nameContainer {
  width: 68%;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
}

.selectTransportationType {
  width: 100%;
}

.transportationTypes {
  width: 100%;
  margin-bottom: 0%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;

}

.transportationType {
  float: right;
  margin: auto;
  width: 100%;
  text-align: right;
  color: #31b573;
  font-size: 25px;
  font-weight: 600;
}

.transportationTypeFirst {
  margin-right: 0;
  margin-left: 1.1%;
  text-align: center;
  width: 25%;
}

.transportationTypeLast {
  text-align: right;
  width: 25%;
  margin-right: 0;
}

.borderCreateNewProject {
  border-top: 1px solid #858585;
  width: 100%;
  margin: 1.5em auto;
}

#createNewProject p {
  font-size: 16px;
}

input[type="radio"]:after {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  top: -15px;
  left: -25px;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 10px solid white;
  box-shadow: 0px 0px 0px 1px #535452;
}

input[type="radio"]:checked:after {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  top: -15px;
  left: -25px;
  position: relative;
  background-color: #535452;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 8px solid white;
  box-shadow: 0px 0px 0px 1px #535452;
}

.radioBox {
  margin-right: 5%;
}